.save-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50px; /* Acesta dă forma de pilulă */
    cursor: pointer;
    outline: none;
  }
  
  .save-button:hover {
    background-color: #218838;
  }
  