<nav class="navbar bg-body-tertiary1 fixed-top" style="background-color: aqua;">
    <div class="container-fluid">
      @if (userRole == 'ADMIN' || userRole == 'Profesor') {
        <a class="navbar-brand" role="button" data-bs-toggle="dropdown"><fa-icon [icon]="settings"></fa-icon>&nbsp;&nbsp;{{userName}}</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink = "/settings">Settings</a></li>
          <li><a class="dropdown-item" routerLink = "/profil">Profile</a></li>
          <li><a class="dropdown-item" (click)="onClick()" >Deconectare</a></li>
        </ul>
        
      }
      @else {
        <a class="navbar-brand dropdown-" role="button" data-bs-toggle="dropdown">{{userName}}</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" (click)="onClick()" >Deconectare</a></li>
        </ul>
      }
      <a class="navbar-brand" routerLink="/home"><fa-icon [icon]="house"></fa-icon></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lista laboratoare</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (input)="filterLaboratories()">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
        <br>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" *ngFor="let lab of filteredLaboratories; let i = index">
              <a class="nav-link" [routerLink]="'/lab' + (i + 1)">{{ lab.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
